USE [master]
GO
/****** Object:  Database [BizInfo]    Script Date: 29.9.2011 12:21:02 ******/
CREATE DATABASE [BizInfo] ON  PRIMARY 
( NAME = N'BizInfo_Data', FILENAME = N'H:\BizInfo\Db\BizInfo_Data.mdf' , SIZE = 4630848KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BizInfo_Log', FILENAME = N'H:\BizInfo\Db\BizInfo_Log.ldf' , SIZE = 19902208KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BizInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BizInfo]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 29.9.2011 12:21:03 ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
/****** Object:  FullTextCatalog [FullText]    Script Date: 29.9.2011 12:21:04 ******/
CREATE FULLTEXT CATALOG [FullText]WITH ACCENT_SENSITIVITY = OFF
AS DEFAULT

GO
/****** Object:  UserDefinedFunction [dbo].[IsContactInStructured]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[IsContactInStructured] (@structured as XML) returns bit
WITH SCHEMABINDING -- See http://stackoverflow.com/questions/1732102/computed-column-cannot-be-persisted
AS
	begin
	declare @result bit = 0;
	IF (@structured IS NOT NULL AND (@structured.exist('/structured/mail') = 1 OR @structured.exist('/structured/phone') = 1 OR @structured.exist('/structured/skype') = 1 OR @structured.exist('/structured/icq') = 1))
		SET @result = 1;
	ELSE
		SET @result = 0;
	return @result;
	end

GO
/****** Object:  Table [dbo].[InfoSet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InfoSet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](2048) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[WebSourceId] [bigint] NULL,
	[CreationTime] [datetime] NOT NULL,
	[NativeCategory] [int] NULL,
	[PhotoUrls] [varchar](max) NULL,
	[SourceTagId] [int] NULL,
	[VerbKindTagId] [int] NULL,
	[VerbTagId] [int] NULL,
	[DomainTagId] [int] NULL,
	[StructuredContent] [xml] NULL,
	[IsCompanyScore] [real] NOT NULL,
	[HasContact]  AS (isnull([dbo].[IsContactInStructured]([StructuredContent]),(0))) PERSISTED NOT NULL,
 CONSTRAINT [PK_InfoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CategorySet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorySet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Parent] [int] NULL,
	[Description] [nvarchar](2048) NULL,
 CONSTRAINT [PK_CategorySet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DownloadedBlobSet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DownloadedBlobSet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SourceUrl] [nvarchar](2048) NOT NULL,
	[DownloadDate] [datetime] NOT NULL,
	[Extension] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_DownloadedBlobSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OccurencySet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OccurencySet](
	[Count] [int] NOT NULL,
	[Fragment] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_OccurencySet] PRIMARY KEY CLUSTERED 
(
	[Fragment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScoutRunSet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoutRunSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScoutId] [nvarchar](128) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[LastAcceptedUrl] [nvarchar](2048) NULL,
	[LastNotAcceptedUrl] [nvarchar](2048) NULL,
	[AcceptedCount] [int] NOT NULL,
	[NotAcceptedCount] [int] NOT NULL,
	[Exception] [nvarchar](max) NULL,
 CONSTRAINT [PK_ScoutRunSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TagSet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](2048) NULL,
 CONSTRAINT [PK_TagSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAndInfoSet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAndInfoSet](
	[UserId] [uniqueidentifier] NOT NULL,
	[InfoId] [bigint] NOT NULL,
	[IsImportant] [bit] NOT NULL,
	[Note] [nvarchar](512) NULL,
	[IsSourceOfInfoCompany] [int] NOT NULL,
 CONSTRAINT [PK_UserAndInfoSet] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[InfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebSourceSet]    Script Date: 29.9.2011 12:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebSourceSet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](2048) NOT NULL,
	[Scouted] [datetime] NOT NULL,
	[Processed] [datetime] NULL,
	[ProcessingResult] [int] NOT NULL,
 CONSTRAINT [PK_WebSourceSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CategoryNameIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [CategoryNameIndex] ON [dbo].[CategorySet]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SourceUrlIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [SourceUrlIndex] ON [dbo].[DownloadedBlobSet]
(
	[SourceUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CategoryIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [CategoryIndex] ON [dbo].[InfoSet]
(
	[NativeCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CreationTimeAndIdIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CreationTimeAndIdIndex] ON [dbo].[InfoSet]
(
	[CreationTime] DESC,
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CreationTimeDescendingIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [CreationTimeDescendingIndex] ON [dbo].[InfoSet]
(
	[CreationTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [HasContactIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [HasContactIndex] ON [dbo].[InfoSet]
(
	[HasContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IsCompanyScoreIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [IsCompanyScoreIndex] ON [dbo].[InfoSet]
(
	[IsCompanyScore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SummaryIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [SummaryIndex] ON [dbo].[InfoSet]
(
	[Summary] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TagIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [TagIndex] ON [dbo].[InfoSet]
(
	[SourceTagId] ASC,
	[VerbKindTagId] ASC,
	[VerbTagId] ASC,
	[DomainTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [WebSourceIdIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [WebSourceIdIndex] ON [dbo].[InfoSet]
(
	[WebSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ScoutId+EndTime]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [ScoutId+EndTime] ON [dbo].[ScoutRunSet]
(
	[ScoutId] ASC,
	[EndTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [NameIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NameIndex] ON [dbo].[TagSet]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UserAndInfoInfo]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UserAndInfoInfo] ON [dbo].[UserAndInfoSet]
(
	[InfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ProcessedAndProcessingResultIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE NONCLUSTERED INDEX [ProcessedAndProcessingResultIndex] ON [dbo].[WebSourceSet]
(
	[Processed] ASC,
	[ProcessingResult] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UrlIndex]    Script Date: 29.9.2011 12:21:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UrlIndex] ON [dbo].[WebSourceSet]
(
	[Url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfoSet] ADD  DEFAULT ((0.0)) FOR [IsCompanyScore]
GO
ALTER TABLE [dbo].[WebSourceSet] ADD  DEFAULT ((0)) FOR [ProcessingResult]
GO
ALTER TABLE [dbo].[InfoSet]  WITH CHECK ADD  CONSTRAINT [FK_DomainTagInfo] FOREIGN KEY([DomainTagId])
REFERENCES [dbo].[TagSet] ([Id])
GO
ALTER TABLE [dbo].[InfoSet] CHECK CONSTRAINT [FK_DomainTagInfo]
GO
ALTER TABLE [dbo].[InfoSet]  WITH CHECK ADD  CONSTRAINT [FK_OperationKindTagInfo] FOREIGN KEY([VerbKindTagId])
REFERENCES [dbo].[TagSet] ([Id])
GO
ALTER TABLE [dbo].[InfoSet] CHECK CONSTRAINT [FK_OperationKindTagInfo]
GO
ALTER TABLE [dbo].[InfoSet]  WITH CHECK ADD  CONSTRAINT [FK_TagInfo] FOREIGN KEY([SourceTagId])
REFERENCES [dbo].[TagSet] ([Id])
GO
ALTER TABLE [dbo].[InfoSet] CHECK CONSTRAINT [FK_TagInfo]
GO
ALTER TABLE [dbo].[InfoSet]  WITH CHECK ADD  CONSTRAINT [FK_VerbTagInfo] FOREIGN KEY([VerbTagId])
REFERENCES [dbo].[TagSet] ([Id])
GO
ALTER TABLE [dbo].[InfoSet] CHECK CONSTRAINT [FK_VerbTagInfo]
GO
ALTER TABLE [dbo].[UserAndInfoSet]  WITH CHECK ADD  CONSTRAINT [FK_UserAndInfoInfo] FOREIGN KEY([InfoId])
REFERENCES [dbo].[InfoSet] ([Id])
GO
ALTER TABLE [dbo].[UserAndInfoSet] CHECK CONSTRAINT [FK_UserAndInfoInfo]
GO
USE [master]
GO
