<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BizInfoModelContainer" connectionString="metadata=res://*/Entities.BizInfo.csdl|res://*/Entities.BizInfo.ssdl|res://*/Entities.BizInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\BIZINFO_EX;Initial Catalog=BizInfo;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>