@using BizInfo.WebApp.MVC3.Models.Base

@{
    ViewBag.Title = "About Us";
}
<div class="section">
    <h2>O aplikaci</h2>
    <p>
        BizInfo - obchodní informační systém. Prototypová aplikace, slouží pouze pro testovací účely.
    </p>
    @Html.Partial("BaseInfoView", BaseInfoModel.Default)
</div>


